.markdown {
    background-color:snow;
    color: black;
    width: 60%;
    height: 95%;
    width: 95%;
    margin: 0 auto;
    font-size: 1.7rem;

}

.preview {
    border: 2px solid black;
    border-radius: 25px;
    background-color: snow;
    width: 95%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
}

.title {
    margin: auto auto auto 5rem;
}

.fullscreen {
    border: none;
    margin: auto 5rem auto auto;
    background-color: #FFC145;
}

.previewFull {
    padding-bottom: 10rem;
}

.editor {
    border: 2px solid black;
    border-radius: 25px;
    background-color: snow;
    width: 80%;
    margin: 0 auto 2rem;
    max-width: 800px;
}

.textEditor {
    width: 90%;
    margin: 1rem auto 1rem;
    padding: 1rem;
    display: block;
    border-radius: 0 0 21px 21px;
}

.textEditorMin {
    height: 200px;
}

.textEditorFull {
    height: 90vh;
}

.titleBar {
    background-color: #FFC145;
    display: flex;
    border-radius: 23px 23px 0 0;
    justify-content: space-evenly;
    border-bottom: thick double black;
    font-family: 'Prompt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 5rem;
}

.icon {
    font-size: 2.3rem;
    transition: 300ms;
}

@keyframes hover-rotate {
    0% {rotate: 0deg;}
    100% {rotate:360deg;}
}

.icon:hover {
    animation-name: hover-rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
}

.markImg {
    max-width: 100%;
    height: auto;
}

.markPre {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 1rem;
}

.markCode {
    background-color: rgb(36, 36, 36);
    color: white;
    min-width: 0;
    text-wrap: wrap;
}

.markTable {
    border: 2px solid black;
    text-align: left;
    border-spacing: 0;
}

.markTh {
    border-right: 2px solid black;
    padding: .5rem .5rem;
}

.markTh:nth-of-type(3) {
    border-right: none;
}

.markTd {
    border-right: 2px solid black;
    border-top: 2px solid black;
    padding: .2rem .5rem;
}

.markTd:nth-of-type(3) {
    border-right: none;
}