.markdown {
    background-color:snow;
    color: black;
    width: 60%;
    height: 95%;

}

.markImg {
    max-width: 100%;
    height: auto;
}

.markPre {
    background-color: rgb(36, 36, 36);
    color: white;
}

.markCode {
    background-color: rgb(36, 36, 36);
    color: white;
}